/*公用*/

.comWidth {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/*topbar*/

.topBar {
    height: 31px;
    background-color: #f7f7f7;
    line-height: 31px;
}

.leftArea {
    float: left;
}

.rightArea {
    float: right;
}

.collection {
    background: url(../images/icon/collection.jpg) left center no-repeat;
    padding-left: 19px;
    font-weight: bold;
}

.topBar a:hover {
    color: #f00
}


/*logo*/

.logoBar {
    height: 85px;
    background: #1D7AD9
}

.navBox {
    height: 36px;
    background: #1369c0
}

.banner {
    height: 324px;
}

.list {
    width: 194px;
    height: 324px;
    float: left;
}

.banner_img {
    width: 806px;
    height: 324px;
    background: url(../images/banner/banner_01.jpg);
    float: right;
}

.pcBar {
    height: 76px;
}

.pcContent {
    height: 402px;
}

.foodBar {
    height: 76px;
}

.food_icon {
    width: 106px;
    height: 44px;
    background: url(../images/icon/shopIcon.jpg) left center no-repeat;
    position: absolute;
    top: 966px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 40px;
}

.food_more {
    float: right;
    line-height: 68px;
    font-size: 14px;
}

/*.pcContent_img_right {
    width: 808px;
    height: 402px;
    float: right;
}*/

.pcContent_img_left {
    width: 192px;
    height: 402px;
    background: url(../images/banner/banner_sm_01.jpg);
}

.shopItem {
    width: 200px;
    height: 280px;
    float: right;
    border: 1px solid #e5e5e5;
}

.shopimg_small {
    width: 200px;
    height: 116px;
    float: right;
    border: 1px solid #e5e5e5;
    border-bottom: 4px solid #ff7201;
}

.shop-imf {
    width: 100px;
    height: 116px;
    float: right;
    padding-top: 20px;
}

.shop-imf p {
    color: #ff7300;
    font-size: 12px;
}

.shop-imf h3 {
    font-size: 16px;
    font-weight: normal;
    color: #181818;
    line-height: 30px;
}

.foodContent {
    height: 402px;
    /*    background: #53c7f8;*/
}

.foodContent_img {
    width: 806px;
    height: 402px;
    background: #ec6500;
    float: right;
}

.search_text {
    width: 362px;
    height: 36px;
    background: #fff;
    position: absolute;
    left: 634px;
    top: 56px;
}

.seratch_btn {
    width: 68px;
    height: 36px;
    background: #ff8c00;
    position: absolute;
    top: 56px;
    left: 996px;
}

.shopCar {
    width: 145px;
    height: 35px;
    background-color: #FF8C00;
    font: 14px/35px "Microsoft YaHei", "微软雅黑";
    color: #FFF;
    margin-right: 59px;
    display: inline;
    position: absolute;
    left: 1094px;
    top: 56px;
}

.shopText {
    height: 100%;
    width: 87px;
    border-right: #E27A00 solid 1px;
    background: url(../images/icon/shaoIcon.jpg) 10px center no-repeat;
    padding-left: 40px;
    text-indent: 40px;
}

.shopNum {
    width: 27px;
    height: 35px;
    border-left: #FF9C01 solid 1px;
    background: url(../images/icon/sj.jpg) 20px center no-repeat;
    padding-right: 30px;
    text-align: right;
}

.logoBar img {
    position: absolute;
    top: 46px;
}

.shopClass {
    width: 190px;
    height: 36px;
    float: left;
    cursor: pointer;
}

.shopClass h3 {
    width: 190px;
    height: 36px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
}

.shopClass_icon {
    background: url(../images/icon/icon.png);
    background-repeat: no-repeat;
    width: 11px;
    height: 7px;
    overflow: hidden;
    background-position: 0 -39px;
    display: inline-block;
    margin-left: 11px;
    vertical-align: middle;
}

.nav li {
    display: inline-block;
    width: 102px;
    height: 36px;
}

.nav li a {
    color: #fff;
    float: right;
    line-height: 35px;
}

.shop_list {
    background: #4593fd;
    border-bottom: #3487F2 solid 1px;
    border-top: #5AA1FE solid 1px;
}

dl {
    padding: 13px 10px;
}

dt {
    background: url(../images/icon/shop_sj.jpg)right center no-repeat;
    overflow: hidden;
}

dt a {
    margin: 4px;
    font-size: 14px;
    color: #fff;
}

dd a {
    font-size: 10px;
    color: #fff;
    margin: 2px;
    line-height: 18px;
}

.pc_icon {
    width: 106px;
    height: 44px;
    background: url(../images/icon/shopIcon.jpg) left center no-repeat;
    position: absolute;
    top: 490px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 40px;
}

.pc_more {
    float: right;
    line-height: 68px;
    font-size: 14px;
}

.foodContent_left {
    width: 192px;
    height: 402px;
    background: url(../images/banner/banner_sm_02.jpg);
}

.foodContent_right {
    width: 808px;
    height: 402px;
    float: right;
}

.footBar {
    height: 222px;
    margin: 40px 0 10px 0;
    background: #d4d4d4;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    padding: 60px 0;
}

.footBar a {
    color: #000;
}

.webLogo img {
    padding: 40px 10px;
}


/*产品分类样式*/

.kong {
    width: 100%;
    height: 18px;
}
.banner_class {
    height:1518px;
}
.digitalproducts {
    width: 186px;
    height: auto;
    color: #555555;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    float: left;
}

.dp_header {
    width: 186px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    text-align: center;
    line-height: 34px;
}

.dp_phone {
    width: 170px;
    height: 136px;
    padding: 16px 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.dp_camera {
    width: 170px;
    height: 116px;
    padding: 16px 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.canon {
    width: 170px;
    height: 94px;
    padding: 16px 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.camerashot {
    width: 170px;
    height: 54px;
    padding: 16px 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.ccdcamera {
    width: 170px;
    height: 96px;
    padding: 16px 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.ccdparts {
    width: 170px;
    height: 170px;
    padding: 16px 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.dgmemory {
    width: 170px;
    height: 56px;
    padding: 16px 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.ele_edu {
    width: 170px;
    height: 98px;
    padding: 16px 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}
.shop_class_list{
	float: right;
	width: 810px;
}
.dp_list {
    line-height: 25px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}

.pc_content_title {
	width: 612px;
	margin:0;
    height: 34px;
}
.pc_content_title h3{
	width: 180px;
	height: 34px;
	line-height: 34px;
	text-indent: 9px;
	border-bottom: 3px solid #096dba;
}
.pcContent_class {
    height: auto;
    clear: both;
    /*overflow: hidden;*/
    padding-bottom: 60px;
}

.foodContent_class{
    height: auto;
    clear: both;
    overflow: hidden;
/*    padding-bottom: 60px;*/
}
.food_class{
	height: auto;
	width: 810px;
	margin:0;
	padding:10px;
}
.food_content_title {
    width: 180px;
    height: 34px;
    line-height: 34px;
    text-indent: 9px;
    border-bottom: 3px solid #096dba;
}
.pcContent_img_class_right{
	width: 808px;
	height: auto;
	padding: 10px;
}
